h1{
  padding: 7% 15% 0 15%;
}
div{
 position: relative;
}
section{
 position: relative;
}

span{
 display: block;
}

header h4, header nav{
  display: inline-block;
}
header{
  text-align: justify;
  padding-top: 2.5%;
  padding-bottom: 0;
}
h4{
  margin-bottom: 0;
}
header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

#steps{
 position: relative;
 padding: 0 15%;
 background-color: #F8F8F8;
 font-family: 'Lora', serif;
 font-weight: 400;
}

.example-recipe{
  color: blue;
}

.steps-div{
 padding-bottom: 0;
}

.container-fluid{
 padding: 7% 15% 7% 15%;
 text-align: center;
}

#calculator-body{
   padding:2% 15%;
}

#box1{
 padding: 3% 3% 3% 3%;
 text-align: left;
}
.servings{
  text-align: left;
  padding: 3% 0;
  border: 0;
}
.recipe-name{
 padding: 1%;
}
